asttokens==3.0.1
babel==2.18.0
certifi==2026.2.25
charset-normalizer==3.4.7
commonmark==0.9.1
configparser==7.2.0
contourpy==1.3.3
cycler==0.12.1
decorator==5.2.1
executing==2.2.1
faicons==0.2.2
fonttools==4.62.1
formulaic==1.2.1
great-tables==0.21.0
htmltools==0.6.0
idna==3.11
importlib_metadata==9.0.0
importlib_resources==6.5.2
interface-meta==1.3.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
joblib==1.5.3
kiwisolver==1.5.0
llvmlite==0.47.0
lxml==6.0.2
maketables==0.1.8
matplotlib==3.10.8
matplotlib-inline==0.2.1
narwhals==2.19.0
numba==0.65.0
numpy==2.4.4
packaging==26.0
pandas==3.0.2
parso==0.8.6
patsy==1.0.2
pexpect==4.9.0
pillow==12.2.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pyfixest==0.50.1
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
requests==2.33.1
scipy==1.17.1
seaborn==0.13.2
six==1.17.0
stack-data==0.6.3
statsmodels==0.14.6
tabulate==0.10.0
tqdm==4.67.3
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
wrapt==2.1.2
zipp==3.23.0
